<ng-container *ngIf="cartItems().length">
  <div class="card-total">
    <h2 c>Cart Total</h2>

    <div class="card-body">
      <div class="details-item">
        <div>Subtotal</div>
        <div>
          {{ subTotal() | number: "1.2-2" }}
        </div>
      </div>
      <div class="details-item">
        <div>Delivery</div>
        <div *ngIf="deliveryFee()">
          {{ deliveryFee() | number: "1.2-2" }}
        </div>
        <div style="color: green" *ngIf="!deliveryFee()">Free</div>
      </div>

      <div class="details-item">
        <div>Est tax</div>
        <div>
          {{ tax() | number: "1.2-2" }}
        </div>
      </div>

      <div class="details-item">
        <div><b>Total</b></div>
        <div>
          <b>{{ totalPrice() | number: "1.2-2" }}</b>
        </div>
      </div>
    </div>
  </div>
</ng-container>
