.spacer {
  flex: 1 1 auto;
}

.links {
  padding: 1px;
}

.link {
  margin-bottom: 0.25rem;
}

.spinner {
  margin: 8rem auto;
}

li {
  cursor: pointer;
}

mat-card-title,
mat-card-subtitle {
  padding: 5px !important;
}
