<ng-container *ngIf="cartItem()">
  <div class="item">
    <div>
      {{ cartItem().product.title }}
    </div>
    <div>
      {{ cartItem().product.brand }}
    </div>
    <div>£{{ cartItem().product.price | number: "1.2-2" }}</div>
    <div>
      <select
        class="form-select"
        aria-label="Quantity list"
        style="margin-bottom: 10px; width: 60px; margin: 0 auto"
        [ngModel]="cartItem().quantity"
        (ngModelChange)="onQuantitySelected($event)"
      >
        <option disabled value="">--Select a quantity--</option>
        <option *ngFor="let q of qtyArr()">{{ q }}</option>
      </select>
    </div>
    <div>£{{ exPrice() | number: "1.2-2" }}</div>
    <div>
      <button
        type="button"
        class="btn btn-warning"
        aria-label="Close"
        (click)="onRemove()"
      >
        Delete
      </button>
    </div>
  </div>
</ng-container>
